In [5]:
import sys
import os
sys.path.append(os.path.abspath("../"))


from Preprocessing.preprocessing_pipeline_impute_fuel_types import preprocessing_pipeline

In [6]:
df = preprocessing_pipeline()

In [11]:
df[df['fuel_type'] == 'Electric'].head()

,brand,model,color,year,price_in_euro,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,mileage_in_km,electric_range,registration_month
16313,audi,Audi e-tron,beige,2019,51888,408.0,Automatic,Electric,0.0,84800.0,359.0,9
16320,audi,Audi e-tron,beige,2019,53990,408.0,Automatic,Electric,0.0,51000.0,359.0,7
16322,audi,Audi e-tron,beige,2019,54870,408.0,Automatic,Electric,0.0,82814.0,NaN,11
16330,audi,Audi e-tron,beige,2019,61989,408.0,Automatic,Electric,0.0,55990.0,NaN,12
16338,audi,Audi e-tron,blue,2019,32930,408.0,Automatic,Electric,0.0,84300.0,359.0,2

In [10]:
df[df['fuel_type'] == 'LPG'].head()

,brand,model,color,year,price_in_euro,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,mileage_in_km,electric_range,registration_month
1648,audi,Audi S8,silver,1997,21899,340.0,Manual,LPG,13.9,220000.0,0.0,8
1796,audi,Audi A3,silver,2000,3600,179.0,Manual,LPG,7.8,268300.0,0.0,5
1825,audi,Audi S6,blue,2001,8000,340.0,Automatic,LPG,14.2,335000.0,0.0,1
1826,audi,Audi S8,blue,2001,14990,360.0,Automatic,LPG,13.7,306000.0,0.0,1
1862,audi,Audi A6 allroad,black,2001,6657,250.0,Automatic,LPG,13.4,999999.0,0.0,12